html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
    background-color: black;
    font-family:'Kaushan Script', cursive;
}

.main {
    background-color: #FFFFFF;
    min-height: 31.25em;
    margin-top: 6.875rem;
    min-width: 75rem;
    padding-left: 6.25rem;
    position: relative;
    z-index: 1;
}


/*RYU IMAGES STYLES*/

.ryu {
    width: 41.1875rem;
    height: 30.875rem;
}
.ryu-ready,
.ryu-still,
.ryu-throwing, .ryu-cool {
    width: 41.1875rem;
    height: 30.875rem;
}

.ryu-ready,
.ryu-throwing, .ryu-cool {
    display: none;
}

.ryu-ready {
    background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
    background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing {
    background-image: url('../images/ryu-throwing-hadouken.png');
 }
.ryu-cool {
    background-image: url('../images/ryu-cool.gif');
}

.hadouken {
    background-image: url('../images/hadouken.gif');
    width: 9.75rem;
    height: 5.625rem;
    display: none;
    float: left;
    position: absolute;
    z-index: 10;
    left: 34rem;
    top: 10.5rem;
}

.hadouken,
.ryu-still,
.ryu-ready,
.ryu-throwing, .ryu-cool {
    background-repeat: no-repeat;
}

/*instructions styles*/
 
.instructions {
    width: 38rem;
    height:31.25rem;
    /*I had to place a top otherwise it will get out of the .main*/
     top: 0;
     left: 40rem;
   position: absolute;
   
}
   .instructions p{
    width: 50%;
    text-align: center;
    font-size: 2.3rem;
    padding-top: 1rem;
    }
    
    .instructions p + p {
        margin-left:18rem;
    }